@import "../app-config.component";
@import "header-config.component";

header {
  background: $header-color;
  @include display-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 1vw 2vw;
  a {
    text-decoration: none;
    color: $icon-color;
    font-size: $menu-font-size;
    margin: 0 0.5vh;
  }
  a:first-child {
    margin-right: auto;
  }
  .activeClass {
    color: $body-font-colour;
  }
}
