<header>
  <a routerLink="/about">looksbe</a>
  <a (click)="toggleDrawerNav('search')" class="material-icons"
  [ngClass]="{'activeClass':activeSearchIcon === true}">&#xe8b6;</a>
  <!-- <a (click)="showSidenav('message')" id="message-icon" class="material-icons" data-toggle="tooltip"
    data-placement="auto" title="Message">&#xe0ca;</a> -->
  <a (click)="toggleDrawerNav('notification')" class="material-icons"
  [ngClass]="{'activeClass':activeNotificationIcon === true}">notifications</a>
  <a (click)="toggleDrawerNav('login')" class="material-icons"
  [ngClass]="{'activeClass':activeLoginIcon === true}">&#xe7fd;</a>
</header>
