@import "src/app/app-config.component";

mat-card {
  font: $body-font;
  mat-card-header {
    margin: 1%;
    padding: 1%;
    box-shadow: 1px 1px 5px 1px lightgrey;
    border-radius: 15px;
    mat-card-title-group {
      margin: auto;
      text-align: center;
      img {
        // width: 20%;
      }
    }
  }
  mat-card-content {
    margin: 1%;
    padding: 1%;
    box-shadow: 1px 1px 5px 1px lightgrey;
    border-radius: 15px;
    p, h3 {
      text-align: center;
    }
    ul {
      text-align: center;
      list-style-type: none;
    }
  }
  div {
    padding: 1%;
    margin: 1%;
    box-shadow: 1px 1px 5px 1px lightgrey;
    border-radius: 15px;

    img {
      width: 100%;
      border-radius: 15px;
    }
  }
}
div {
  p {
    text-align: center;
    // color: $body-font-colour;
    a {
      text-decoration: none;
    }
  }
}
