<mat-card>
  <mat-card-header>
    <!-- <img mat-card-avatar src="../../../../assets/HTML5.png"> -->
    <mat-card-title-group>
      <mat-card-title><h1>About Looksbe</h1></mat-card-title>
      <mat-card-subtitle>be by looks</mat-card-subtitle>
      <!-- <img src="../../../../assets/css3.png"> -->
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    looksbe aims to be an inspiration to all fashion enthusiasts. Here, people
    will discover, share and trade fashion within a like-minded community.
  </mat-card-content>
  <div class="">
    <img src="../../../../assets/group-body-photo.jpeg">
  </div>
  <mat-card-footer>	</mat-card-footer>
</mat-card>
