<mat-card>
  <mat-card-header>
    <!-- <img mat-card-avatar src="../../../../assets/HTML5.png"> -->
    <mat-card-title-group>
      <mat-card-title><h1>About Looksbe</h1></mat-card-title>
      <mat-card-subtitle>be by looks</mat-card-subtitle>
      <!-- <img src="../../../../assets/css3.png"> -->
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <br><p>looksbe aims to be an inspiration to all fashion enthusiasts. Here,
    people will discover, share and trade fashion within a like-minded
    community.</p>
    <h3>Technical Specification:</h3>
    <ul>
      <li>Angular 5</li>
      <li>TypeScript</li>
      <li>CSS Flexbox</li>
    </ul><br>
  </mat-card-content>
  <div>
    <img src="../../../../assets/group-body-photo.jpeg">
  </div>
  <!-- <mat-card-footer>	</mat-card-footer> -->
</mat-card>
