@import "src/app/app-config.component";

:host {
  @include display-flex;
}

nav {
  width: 100%;
  background-color: rgba(149, 165, 134, 0.5);
  // @include display-flex;
  // margin: auto;
  // @include display-flex;
  // justify-content: center;
  // flex-wrap: wrap;

  form {
    @include display-flex;
    justify-content: center;
    flex-wrap: wrap;

    // margin: 5%;
    > * {
      margin: 0 1%;
      // width: 23%;
      span {
        margin: auto;
        vertical-align: bottom;
      }
    }
    // float: none;
    // display: inline-block;
    // width: 200px;
    // margin: auto;
  }

}
