@import "src/app/app-config.component";

span {
  @include display-flex;
  flex-wrap: wrap;
  a {
    width: 220px;
    border: 1px solid lightgray;
    text-align: center;
    text-decoration: none;
    img {
      width: 200px;
    }
  }

}
