$body-font: 2vh "Trebuchet MS", arial, sans-serif; //% of the smaller side
$body-font-size: 2vh;
$body-font-colour: darkslategrey;
$menu-font-size: 4.5vh; //% of viewport height
$icon-color: white;
$header-color: #95a586;
$drawer-nav-color: rgba(149, 165, 134, 0.95);
$nav-color: #6693c1;
$aside-color: rgba(201, 157, 157, 0.5);

@mixin display-flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
}

@mixin flex-flow($direction) {
  flex-flow: $direction;
  -webkit-flex-flow: $direction;
  -moz-flex-flow: $direction;
  // -ms-flex-flow: $direction;

}
