@import "src/app/app-config.component";

div {
  // float: left;
  // display: inline-block;
  @include display-flex;
  @include flex-flow(column wrap);

  margin: 5vw;
  border: 1px solid lightgray;
  // border-radius: 15%;
  text-align: center;
  img {
    width: 20vw;
  }
}
