@import "../app-config.component";

:host(.small-display) {
  @include display-flex;
  @include flex-flow(column);
  // flex: auto;
}

app-main {
  flex: auto;
}

@media all and (min-width: 769px) {
  :host(.big-display) {
    @include display-flex;
    @include flex-flow(row);
    // flex: auto;
  }
  app-nav {
    order: 1;
  }
  app-main {
    order: 2;
  }
  app-aside {
    order: 3;
  }
}
