@import "../app-config.component";

:host(.small-display) {
  @include display-flex;
  @include flex-flow(column);
  flex: auto;
}

app-main {
  flex: auto;
}
app-aside {
  background-color: $aside-color;

}

@media all and (min-width: 769px) {
  :host(.big-display) {
    @include flex-flow(row);
  }
  app-nav {
    order: 1;
    background-color: $nav-color;
  }
  app-main {
    order: 2;

  }
  app-aside {
    order: 3;
    width: 17%;
  }
}
