@import "src/app/app-config.component";

:host {
  @include display-flex;
}
mat-sidenav-container {
  // width: 100%;
  flex: auto;
  mat-sidenav {
    border: 2px solid black;
  }
  mat-sidenav-content {
    ng-content {
      width: 100%;
      // overflow: scroll;
    }
  }
}
