@import "src/app/app-config.component";

:host {
  @include display-flex;
}
mat-sidenav-container {
  flex: auto;
  mat-sidenav {
    width: 30%;
    border: 5px solid $drawer-nav-color;
    background-color: whitesmoke;
  }
  mat-sidenav-content {
    ng-content {
      width: 100%;
      // overflow: scroll;
    }
  }
}
