@import "src/app/app-config.component";

nav {
  background-color: $drawer-nav-color;
  color: $icon-color;
  // form {
    @include display-flex;
    @include flex-flow(row);
    justify-content: center;
    div {
      margin: 0 1%;
      @include display-flex;

      align-items: center;
      i {
        font-size: $menu-font-size;
      }
      mat-form-field {
        margin: 0 1%;
        /deep/ .mat-input-underline {
           background-color: $icon-color;
        }
        /deep/ .mat-input-element {
          font-size: $body-font-size;

        }
        /deep/ .mat-form-field-placeholder {
          color: $icon-color;
        }
      }
    }
  // }
}
