@import "src/app/app-config.component";

nav {
  background-color: $nav-color;
  @include display-flex;
  justify-content: space-around;
  padding: 1vw 0;
  a {
    text-decoration: none;
    color: $icon-color;
    padding: 3px;
    #navWord {
      display: none;
    }
    .material-icons {
      display: block;
      font-size: $menu-font-size;
    }
  }
}

@media all and (min-width: 769px) {
  nav {
    @include flex-flow(column);
    a {
      .material-icons {
        display: none;
      }
      #navWord {
        display: block;
        font-size: $nav-font-size;
      }
    }
  }
}
