<nav>
  <a href="#home" id="home-icon" class="material-icons" data-toggle="tooltip"
    data-placement="auto" title="Home">home</a>
  <a href="#trend" id="trend-icon" class="material-icons" data-toggle="tooltip"
    data-placement="auto" title="Trend">&#xe8e5;</a>
  <a href="#explore" id="explore-icon" class="material-icons" data-toggle="tooltip"
    data-placement="auto" title="Explore">&#xe87a;</a>
  <a href="#shop" id="shop-icon" class="material-icons" data-toggle="tooltip"
    data-placement="auto" title="Shop">&#xe8cc;</a>
  <a href="#more" id="more-icon" class="material-icons" data-toggle="tooltip"
    data-placement="auto" title="More">&#xe5d3;</a>
</nav>
