@import "src/app/app-config.component";
// @import "nav-config.component";

nav#flex-nav {
  background: $nav-color;
  @include display-flex;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: $icon-color;
    font-size: $menu-font-size;
    padding: 3px;
  }
  #home-icon, #trend-icon, #explore-icon, #shop-icon, #more-icon {
    font-size: $menu-font-size;
  }
}
