<nav>
  <a routerLink="/home"><span class="material-icons">home</span>
    <span id="navWord">Home</span></a>
  <a routerLink="/trend"><span class="material-icons">&#xe8e5;</span>
    <span id="navWord">Trend</span></a>
  <a routerLink="/explore"><span class="material-icons">&#xe87a;</span>
    <span id="navWord">Explore</span></a>
  <a routerLink="/shop"><span class="material-icons">&#xe8cc;</span>
    <span id="navWord">Shop</span></a>
  <!-- <a href="#more" id="more-icon" class="material-icons" data-toggle="tooltip"
    data-placement="auto" title="More">&#xe5d3;</a> -->
</nav>
