@import "src/app/app-config.component";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

:host {
  @include display-flex;
}
app-sidenav {
  main {
    flex: auto;
    // @include display-flex;
    display: block;
    height: auto;
    overflow: scroll;
    // background-color: azure;
    // router-outlet {
    //   @include display-flex;
    //
    //   overflow: scroll;
    // }

  }

}
