<h3>Sign Up</h3>
<p>Please enter your details below</p>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Account
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="email" placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password">
    </mat-form-field>
    <div>
        <button mat-button>Submit</button>
        <button mat-button>Reset</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel> <!-- (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"-->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="text" placeholder="First Names">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="date" placeholder="Date of Birth">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Gender">
        <mat-option value="option">Male</mat-option>
        <mat-option value="option">Female</mat-option>
        <mat-option value="option">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button>Submit</button>
      <button mat-button>Reset</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel> <!-- (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"-->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contact
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="text" placeholder="Unit">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Building Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Street">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Street">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="City/Town">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Zip/Post Code">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" placeholder="Mobile">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" placeholder="Land Phone">
    </mat-form-field>
    <div>
      <button mat-button>Submit</button>
      <button mat-button>Reset</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
