h3, p {
  text-align: center;
}
mat-card {
  margin-left: 5%;
  margin-right: 5%;
}
mat-expansion-panel {
  margin-left: 5%;
  margin-right: 5%;
  // div {
  //   span {
  //     margin: auto;
  //     border: 1px solid black;
  //   }
  // }

}
