@import "src/app/app-config.component";

div {
  column-count: 2;
  column-gap: .5em;
  margin: .5em;
  a {
    display: inline-block;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 3px lightgrey;
    text-align: center;
    text-decoration: none;
    font: $body-font;
    color: $body-font-colour;
    margin: 0 0 1em;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

@media all and (min-width: 599px) {
  div {
    // column-count: 3;
  }
}

@media all and (min-width: 960px) {
  div {
    // column-count: 4;
  }
}

@media all and (min-width: 1920px) {
  div {
    // column-count: 5;
  }
}
