<nav [@loginNavToggle]="loginNavState">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
     <!-- (ngSubmit)="" -->
    <div>
      <i routerLink="/signup" class="material-icons"
      (click)="loginNavState='in'">person_add</i>
    </div>
    <div>
      <mat-form-field hideRequiredMarker>
        <input matInput type="email" name="email" placeholder="Email"
        [(ngModel)]="account.email" #email="ngModel" required>
        <div [hidden]="email.valid || email.pristine">
          Email required
        </div>
      </mat-form-field>
      <mat-form-field hideRequiredMarker>
        <input matInput type="password" name="password" placeholder="Password"
        [(ngModel)]="account.password" #password="ngModel" required>
        <div [hidden]="password.valid || password.pristine">
          Password required
        </div>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" class="material-icons"
      (submit)="login(); loginForm.reset()">input</button>

      <!-- [disabled]="!loginForm.form.valid" -->
    </div>
  </form>
</nav>
