<nav [@loginNavToggle]="loginNavState">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- ; loginForm.reset(); -->
     <!-- #loginForm="ngForm" (ngSubmit)="onSubmit()" -->
     <!-- (ngSubmit)="onSubmit()" -->
    <div>
      <i routerLink="/signup" class="material-icons"
      (click)="loginNavState='in'">person_add</i>
    </div>
    <div>
      <mat-form-field hideRequiredMarker>
        <input matInput type="email" name="email" placeholder="Email"
        [(ngModel)]="accountLogin.email" #email="ngModel"  required>

        <!-- [(ngModel)]="accountLogin.email" #email="ngModel"  -->
        <!-- <div [hidden]="email.valid || email.pristin">
          Email required
        </div> -->
      </mat-form-field>
      <mat-form-field hideRequiredMarker>
        <input matInput type="password" name="password" placeholder="Password"
        [(ngModel)]="accountLogin.password" #password="ngModel" required>

        <!-- [(ngModel)]="accountLogin.password" #password="ngModel"  -->
        <!-- <div [hidden]="password.valid || password.pristine">
          Password required
        </div> -->
      </mat-form-field>
    </div>
    <div>
      <button type="submit" class="material-icons"
      (click)="loginAccount(); loginForm.reset(); loginNavState='in'">input</button>
      <!-- ; loginForm.reset()" [disabled]="!loginForm.form.valid" -->
      <!-- [disabled]="!loginForm.form.valid" -->
    </div>
  </form>
</nav>
